.mainCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.regCont{
    background-color: #06273A;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding:30px;
    border-radius: 5px;
}
.regCont input{
    width: 15rem;
}
.regCont >div{
    margin:10px 0;
}
.title{
    color:white;
    font-size: 1.8rem;
    margin:0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.regCont .css-1e83efs-MuiInputBase-root-MuiInput-root:before {
    border-bottom:1px solid white ;
}
.regCont .MuiInput-underline{
    border-bottom:1px solid white ;
}
.regCont .MuiInput-underline:hover{
    border-bottom:1px solid white ;
}
.authButton{
    width:30%;
    padding:10px 0;
    color:#06273A;
    background-color: white;
    border:unset;
    text-transform: uppercase;
    font-weight: 600;
}
.authButton:disabled{
    opacity: 0.3;
}