@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
  }
  :root {
    --mainBlue: #06273A;
  }

.header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 80px;
    background: linear-gradient(#000 0,#031621 64.2%,#06273A 100%);
}

.category{
    margin:15px 100px;
    font-size: 23px;
    font-weight: normal;
    color:#3f3d3d;
    font-family: Roboto;
    cursor: pointer;

}
.activeCategory{
    color:red
}
.drinksCont{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;
    padding-bottom: 70px;
}
.drink:hover{
    transform: translate(5px,-2px);
}
.drink{
    width:250px;
    box-shadow: 2px 3px 2px 1px #EDEDED;
    margin:20px;
    padding:0 10px;
}
.link{
    text-decoration: none;
    text-align: center;
    color: #3f3d3d;
    font-weight: 500;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    color: #3f3d3d;
    text-transform: uppercase;
}
.webTitle{
    margin:25px 100px;
    font-size: 43px;
    font-weight: normal;
    color:#3f3d3d;
    font-family: Roboto;
}
.search {
    position: absolute;
    right:100px;
    z-index:2;
    cursor: pointer;
}
.searchInput{
    position: absolute;
    right:100px;
    height:20px;
    width:180px;
}