:root {
  --textColor1: #9ec4d7;
}
.title {
  margin-top: 100px;
  text-align: center;
  font-weight: 500;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-family: Georgia, serif;
}
.drinksCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0 10%;
  box-sizing: border-box;
  padding-bottom: 70px;
}
.link {
  text-decoration: none;
  text-align: center;
  color: #3f3d3d;
  font-weight: 500;
}
.drink {
  margin: 17px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  width: 250px;
}
.drinkCat {
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 30px;
  font-weight: 800;
  color: var(--textColor1);
  text-transform: uppercase;
}
.cocktailCat {
  font-family: Georgia, serif;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1px;
}
.cocktailTitle {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.1;
  color: black;
}
.drinkTitle {
  font-family: Georgia, serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
}
.descr {
  padding-left: 50px;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: var(--textColor1);
  width: 200px;
}
.descr::before {
  background-image: url("../../assets/arrow.png");
  content: "";
  height: 0.95rem;
  width: 2.575rem;
  position: absolute;
  display: inline-block;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.descrTitle::before {
  background: url("../../assets/shaker.PNG");
  content: "";
  height: 7rem;
  width: 5.2rem;
  display: block;
  transform: translate(-10px, -10px);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
.descr2 {
  width: 95%;
  color: white;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.25rem;
}
.descrTitle {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: var(--textColor1);
  font-size: 1rem;
  /* transform: translateX(-12px); */
  /* width:'max-content' */
  width: 95%;
}
.email::placeholder {
  font-size: 1em;
  color: black;
  /* padding-left: 40px; */
}
.email {
  box-sizing: border-box;
  padding-left: 40px;
  height: 40px;
  /* width:305px; */
  width: 90%;
}

.email:focus {
  outline: none;
}
.signUp {
  margin-top: 10px;
  width: 90%;
  height: 40px;
  background-color: #265986;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.randomSection {
  background-color: var(--mainBlue);
  padding-bottom: 50px;
}
.showMore {
  width: 250px;
  height: 50px;
  margin-top: 70px;
  background-color: #265986;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}
.drinkImg {
  width: 270px;
}
.mainRanDrink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;

}

.borderDiv {
  width: max-content;
  border-right: 2.5px dotted white;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding-right: 23px;
}
.borderDiv > div {
  display: flex;
  flex-direction: column;
}
.card {
  background-color: white;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  animation-name: ranImages;
  animation-duration: 3s;
}
.card > img {
  width: 100%;
}
.ranImages {
  width: 50%;
  padding-left: 23px;
  animation-name: ranImages;
  animation-duration: 3s;
}

.ranCard {
  background-color: white;
  animation-name: example;
  animation-duration: 4s;
  padding: 1rem;
  height: max-content;
  box-sizing: border-box;
}

.bottomSection {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 70px;
  width: 100%;
}
.contact {
  position: relative;
  margin-top: 50px;
  width: 100%;
  margin-left: 30px;
}
.inputCont {
  position: relative;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.toolsIMG {
  width: 80%;
}
.fixpos {
  transform: translateX(20px);
}
.dottedBorder {
  border-right: 2.5px dotted white;
}
.ranCard:hover{
    transform: translateY(-5px);
}
.card:hover{
    transform: translateY(-5px);  
}
.drink:hover > img{
    opacity: 0.6;
}
@keyframes ranImages{
    0% {opacity: 0}
    100%{opacity: 1;}
}
@media only screen and (max-width: 1010px) {
  .drinks2 {
    flex-wrap: wrap;
  }
  .mainRanDrink {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .borderDiv {
    border: none;
    margin-bottom: 70px;
  }
  .ranImages {
    padding: 0;
  }
  .fixpos {
    transform: unset;
  }
  .card {
    width: 115%;
  }
  .link {
    margin-bottom: 50px;
  }
  .bottomSection {
    flex-direction: column;
    align-items: center;
  }
  .dottedBorder {
    border: none;
  }
  .bottomFirstItem {
    transform: translateX(30px);
  }
  .email {
    width: 100%;
  }
  .signUp {
    width: 100%;
  }
  .inputCont {
    transform: translateX(-13px);
  }
}
.star{
  position: absolute;
  top:12em;
  right:0;
  cursor: pointer;
}
.authBTN{
  text-decoration: none;
  border:2px solid var(--mainBlue);
  color:white;
  font-weight: 600;
  background-color: var(--mainBlue);
  padding:.5rem 1rem;
}
.loading{
  position: absolute;
  top:18rem;
  right:0;
}
.containerRand{
  position: relative;
  margin-top: 5rem;
  background-color: var(--mainBlue);
  width: 100%;
  min-height: 20rem;
}
.customSlide{
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}
.customSlide img{
  padding-left: 7rem;
  margin-right: 3rem;

}

.customSlide h1{
  color:white;

}
.stepsTitle {
  font-size: 1.5rem;
  font-weight: 600;
  width: 60%;
  border-bottom: dotted;
  color:rgb(255, 255, 255);
  padding-bottom: 5px;
}
.steps {
  font-weight: 300;
  padding-left: 30px;
  font-size: 1rem;
  position: relative;
  width: max-content;
}
.langBtn {
  margin: 10px 10px 0 0;
  font-weight: 700;
  padding: 5px 15px;
  border: 1px solid black;
  font-size: 0.8rem;
}

.langBtn:disabled {
  color: #c5c5c5 !important;
  border: 1px solid #c5c5c5;
}
.steps::before {
  content: "";
  position: absolute;
  left: 0;
  top: 34%;
  width: 10px;
  height: 10px;
  background-color: brown;
  transform: rotate(45deg);
}
.swiperSubCont{
  width: 40%;
}
.steps{
  width:60%;
}
@media only screen and (max-width: 1200px) {
  .ranIngredients{
    display: none;
  }
  .steps{
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .ranInstructions{
    display: none;
  }
  .customSlide{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .customSlide img{
    transform: translateX(-1.5rem);
  }
  .swiperSubCont{
    width: 100%;
  }
}
